html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
body{
  margin: 0;
  padding: 0;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}

/*navbar*/
.nav {
  background-color: #160a76;
  color: white;
  overflow: hidden;
  font-size: 1.25em;
}

.nav a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

#homelink {
  font-weight: bold;
  float: left;
  padding: 14px 16px;
}

.nav a:hover {
  background-color: white;
  color: #160a76;
}
.nav a.active {
  background-color: #fcf8b8;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
  float: right;
  padding-top: 5px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
  transform: rotate(-45deg) translate(-4px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .hamburger{
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .nav a:not(:first-child) {display: none;}
  .nav.dropdown {position: relative;}

  .nav.dropdown a:not(:first-child) {
    float: center;
    display: block;
    width: 100%;
    text-align: center;
  }
}
