html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3.5em;
}
h3{
  margin: 0;
  padding: 0;
  font-size 1em;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

* {
  box-sizing: border-box;
}


/*navbar*/
.nav {
  background-color: #160a76;
  color: white;
  overflow: hidden;
  font-size: 1.25em;
}


.nav a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

#homelink {
  font-weight: bold;
  float: left;
  padding: 14px 16px;
}

.nav a:hover {
  background-color: white;
  color: #160a76;
}
.nav a.active {
  background-color: #c5cadc;
  color: #160a76;
}

.hamburger {
  display: none;
  cursor: pointer;
  float: right;
  padding-top: 5px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
  transform: rotate(-45deg) translate(-4px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.coverphoto{
background-image: url('img/coverphoto.jpg');
background-repeat: none;
background-size: 100%;
background-position: center;
text-align: center;
height: 300px;
padding: 100px;
}

.coverphoto h3 {
  color: white;
}

.container{
  padding: 50px auto;
}

.container p{
  justify-content: left;
}

.fb-btn{
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 3px;
}
.fb-btn:active{
  background-color: white;
  color: #3b5998;
}
.fb-btn:hover{
  background-color: #314e8c;
}

.events-sm{
  float:left;
  border-radius: 8px 3px 3px 8px;
  border: 1px solid rgba(112, 112, 112,.28);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
.eventpic{
  background-image: url('img/event1.jpg');
  background-repeat:none;
  background-position: stretch;
  min-height: 116px;
  margin: 0px;
  padding: 0px;
}

.about img {
  margin: 0;
  padding: 0;
  width:100%;
}


#eventskitrip{
  background-image: url('img/eventskitrip.jpg');
}

#eventhalloween{
  background-image: url('img/eventhalloween.jpg');
}

.events-yr{
  position: relative;
  background-position: center;
  background-size: cover;
  height: 300px;
  padding:0;
  margin-bottom: 20px;
}
.events-yr h3{
  position: absolute;
  top: 10px;
  left: 10px;
  color:white;

}

.events-yr div{
  position: absolute;
  bottom: 0;
  background-color: #7791B9;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.events-yr:hover > div{
  display: none;
}

@media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .hamburger{
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .nav a:not(:first-child) {display: none;}
  .nav.dropdown {position: relative;}

  .nav.dropdown a:not(:first-child) {
    float: center;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.meetcouncil{
  text-align: center;
}

.council{
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto;
}
.council img{
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .coverphoto{
      height: 400px;
    }
}
